<ul class="list pl0 mt3 mb4-l mb0 pt1-l pt0">
  <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1 br2 b--black-80 {{#if_eq active "Date"}}fw5 black bg-light-gray{{/if_eq}}" href="/blog/">Date</a></li>
  <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1  br2 b--black-80 {{#if_eq active "Tags"}} fw5 black bg-light-gray {{/if_eq}}" href="/blog/tags/">Tags</a></li>
</ul>