<footer class="pl1 pr1 pr0-l pl3-l">
  <p class="f7 mb0"><a href="/" class="dim link blue">Inform Studio</a> &#8226; Salisbury MD USA &#8226; <a href="/about.html" class="dim link blue">About</a> &#8226; <a href="mailto:info@inform.studio" class="dim link blue">Contact</a></p>
</footer>