<ul class="list pl0 mt3 mb3-l mb0 pt1-l pt0">
  <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1 br2 b--black-80 {{#if category}}{{else}}fw5 black bg-light-gray{{/if}}" href="/work">All</a></li>
  <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1  br2 b--black-80{{#if_eq category "Illustration"}} fw5 black bg-light-gray {{/if_eq}}" href="/tags/illustration">Illustration</a></li>
  <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1  br2 b--black-80{{#if_eq category "Animation"}} fw5 black bg-light-gray {{/if_eq}}" href="/tags/animation">Animation</a></li>
  <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1  br2 b--black-80{{#if_eq category "Diagrams"}} fw5 black bg-light-gray {{/if_eq}}" href="/tags/diagrams">Diagrams</a></li>
  <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1  br2 b--black-80{{#if_eq category "Journal Covers"}} fw5 black bg-light-gray {{/if_eq}}" href="/tags/journal-covers">Journal Covers</a></li>
  <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1 br2 b--black-80{{#if_eq category "Interactive"}} fw5 black bg-light-gray {{/if_eq}}" href="/tags/interactive">Interactive</a></li>
</ul>