{{#each (limit blog 4)  }}
  {{> blog-entry }}
{{/each}}
<div class="pb2-l pt4-l pt2 pr3-l w-50 index-button relative overflow-hidden">
  <a class="link black dim db w-100 fl mr4 ba b--black-80 br2 overflow-hidden tc" href="/blog">
    <p class="nav-links f5">Read More <span style="padding-top:0.25rem; font-size:85%;">&#x2192</span></p>
  </a>
</div>