<ul class="list nav-bar pl0 fr-l mt0 nav-links f5 mb0">
  <li class="dib mr3-l mr1 mb0-l mb1 db dn-l pa1 pl2 pr2 ba bn-l br2 {{#if_eq active "Home"}} bg-black-80 b--black-80 {{/if_eq}}"><a class="link black dim link-mobile{{#if_eq active "Home"}} fw5 white {{/if_eq}}" href="/">Home</a></li>
  <li class="dib mr3-l mr1 mb0-l mb1 pa1 pl2 pr2 ba bn-l br2 {{#if_eq active "Work"}} bg-black-80 b--black-80 {{/if_eq}}"><a class="link black dim link-mobile{{#if_eq active "Work"}} fw5 white {{/if_eq}}" href="/work/">Work</a></li>
  <li class="dib mr3-l mr1 mb0-l mb1 pa1 pl2 pr2 ba bn-l br2 {{#if_eq active "About"}} bg-black-80 b--black-80 {{/if_eq}}"><a class="link black dim link-mobile{{#if_eq active "About"}} fw5 white {{/if_eq}}" href="/about.html">About</a></li>
  <li class="dib mr3-l mr1 mb0-l mb1 pa1 pl2 pr2 ba bn-l br2 {{#if_eq active "Blog"}} bg-black-80 b--black-80 {{/if_eq}}"><a class="link black dim link-mobile{{#if_eq active "Blog"}} fw5 white{{/if_eq}}" href="/blog/">Blog</a></li>
  <li class="dib mb0-l mb1 pa1 pl2 pr2 pr0-l ba bn-l br2"><a class="link black dim link-mobile" href="mailto:sean@inform.studio">Contact</a></li>
</ul> 