<ul class="list pl0 fr-l mt0 nav-links f5 mb0">
  <li class="dib pr3-l pr3 pb1-l mb0 db dn-l"><a class="link black dim link-mobile pa1 pl2-l pr2-l{{#if_eq active "Home"}} fw5 white bg-black-80 br2{{/if_eq}}" href="/">Home</a></li>
  <li class="dib pr3-l pr3 pb1-l mb0"><a class="link black dim link-mobile pa1 pl2-l pr2-l {{#if_eq active "Work"}} fw5 white bg-black-80 br2{{/if_eq}}" href="/work/">Work</a></li>
  <li class="dib pr3-l pr3 pb1-l mb0"><a class="link black dim link-mobile pa1 pl2-l pr2-l{{#if_eq active "About"}} fw5 white bg-black-80 br2{{/if_eq}}" href="/about.html">About</a></li>
  <li class="dib pr3-l pr3 pb3-l pb1-l mb0"><a class="link black dim link-mobile pa1 pl2-l pr2-l{{#if_eq active "Blog"}} fw5 white bg-black-80 br2 {{/if_eq}}" href="/blog/">Blog</a></li>
  <li class="dib pb1-l mb0"><a class="link black dim link-mobile pa1 pl2-l pr0-l" href="mailto:sean@inform.studio">Contact</a></li>
</ul> 