<body class="w-100 black-90 f6 relative pa3-l pt0 pb1 mw8 center">
  <header class="ml3-l mr3-l ml1 mr1 mb3 pb2 mb0-l pb4-l">
    <div id="head" class="w-100 center">
      <div class="pt3-l pb2-l mt2">
        <a href="/" class="f4-l f6 link black mb0 dim dn fl-l db-l">Inform Studio</a>
        {{> nav-links active=active}}
      </div>
    </div>
  </header>