{{> header }}
  {{> nav active="Blog"}}
  <div class="ml3-l mr3-l ml1 mr1">
    <p class="f3-l f4 fw4 mt4-l pt2-l mt2 mb2 bb b--black-80">Blog Entries</p>
    <p class="mb0 fl mt2 pr3-l pr2 pt1-l pt0">Order by:</p>
    {{> blog-nav active="Date"}}
  </div>
  <main class="ml3-l mr3-l ml1 mr1">
    <div class="mw6 mb4-l mb3 mt3-l mt0">
      {{#each blog }}
        {{> blog-entry }}
      {{/each}}
    </div>
  <div class="mt5-l mt4"></div>
  </main>
  {{> footer}}
</body>
</html>