{{> header }}
<body class="w-100 black-90 f6 relative pa3-l pb1 mw8 center" style="background-color: rgb(252, 252, 252)">
  <main>
    <div class="">
      <div id="title" class="mw6-l ">
      </div>
      <div id="head" class="w-100 center">
        <img src="/images/hero-image-1.jpg" class="fr br4 shadow-3 dn db-l" style="width: 560px;">
        <div class="mb0 f5-l f6 fw4 mt3-l mt1 pt2 pt4-l pb2 pb2-l pl3-l pl1 pr1 dn db-l"><a href="/" class="link black-90 bg-animate hover-bg-light-gray ba pa2-l pa1 br2 b--black-80">Inform Studio</a></div>
        <p class="f2-l f3 fw4 mt3 black-90 dn db-l pl3-l pl1 pr1">Sometimes words<br>fall short.</p>
        <div class="db dn-l">
          <div class="mb0 f6 fw4 mt2 pt2 pb2 pl1 pr1 absolute top-0"><a href="/" class="link white ba pa2-l pa1 br2">Inform Studio</a></div>
          <p class="f2-l f3 fw4 pl1 absolute top-0 mt4 pt3 white">Sometimes<br>words<br>fall<br>short.</p>
          <img src="/images/hero-image-1.jpg" class="mw6 w-100">
        </div>
        
      </div>
      <div class="pr5-l pl3-l pl1 pr1" style="max-width: 26rem">
       <p class="f4-l f5 mt5-l"><span class="fw5">Inform Studio</span> is a design studio specializing in scientific communication. </p>
        <p class="f5-l f5 measure lh-copy-l">From technical illustrations to detailed animations, we translate complex scientific phenomena into clear visual form.</p>
        <ul class="list pl0 mt4-l mt3 mb3-l mb0 pt1-l pt2 f5">
          <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1 br2 b--black-80 fw5" href="about.html">About</a></li>
          <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1 br2 b--black-80 fw5" href="mailto:sean@inform.studio">Contact</a></li>
        </ul>
<!--        <p class="f5-l f5"> <a class="dim blue link bb fw5" href="/about.html" class="">Learn more.</a></p>-->
      </div>
      <div class="w-100" style="clear: both;"></div>
    </div>
    <div class="pl3-l pl1 pr1 pr0-l mt0-l mt4-l mt2">
      <p class="f3-l f4 fw4 mb0 bb b--black-80 mr3-l" id="work">{{#if title}}{{title}}{{else}}Past Work{{/if}}</p>
      <p class="mb0 fl mt3 pr3-l pr2 pt1-l pt0">Filter by category:</p>
      <ul class="list pl0 mt3 mb3-l mb0 pt1-l pt0">
        <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1 br2 b--black-80 {{#if title}}{{else}}fw5 black bg-light-gray{{/if}}" href="/#work">All</a></li>
        <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1  br2 b--black-80{{#if_eq title "Illustration"}} fw5 black bg-light-gray {{/if_eq}}" href="/tags/illustration#work">Illustration</a></li>
        <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1  br2 b--black-80{{#if_eq title "Animation"}} fw5 black bg-light-gray {{/if_eq}}" href="/tags/animation#work">Animation</a></li>
        <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1  br2 b--black-80{{#if_eq title "Diagrams"}} fw5 black bg-light-gray {{/if_eq}}" href="/tags/diagrams#work">Diagrams</a></li>
        <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1  br2 b--black-80{{#if_eq title "Journal Covers"}} fw5 black bg-light-gray {{/if_eq}}" href="/tags/journal-covers#work">Journal Covers</a></li>
        <li class="dib pr3-l pr2 pb3 pb0-l"><a class="link black-80 bg-animate hover-bg-light-gray ba pa2-l pa1 br2 b--black-80{{#if_eq title "Interactive"}} fw5 black bg-light-gray {{/if_eq}}" href="/tags/interactive#work">Interactive</a></li>
      </ul>
    </div>
    <div class="pa0-l grid-spacer">{{> grid category=title}}</div>
  </main>
  {{> footer}}
</body>
</html>
