{{> header }}
<body class="w-100 black-90 f6 relative pa3-l pt1 pb1 mw8 center">
  <div class="pl1 pr1 pr0-l pl3-l">
    <h2 class="mb0 f5-l f6 fw4 mt3-l mt1 pt2 pt0-l pb2 pb1-l"><a href="/" class="link black-90 bg-animate hover-bg-light-gray ba pa2-l pa1 br2 b--black-80">Inform Studio</a></h2>
    <p class="f3-l f4 fw4 mt2-l mt1 mb1">{{ title }}</p>
    <div class="mw6 mb4-l mb3 mt3">
      {{{contents}}}
    </div>
  </div>
  {{>footer}}
</body>
</html>