{{> header }}
{{> nav active="Work"}}
  <div class="ml3-l mr3-l ml1 mr1">
    <p class="f3-l f4 fw4 mt4-l pt2-l mt2 mb2 bb b--black-80">{{#if title}}{{ title }}{{else}}Past Work{{/if}}</p>
    <p class="mb0 fl mt2 pr3-l pr2 pt1-l pt0">Filter by category:</p>
    {{> grid-nav category=title}}
  </div>
  <main>
    {{> grid category=title}}
  </main>
  <div class="mt4"></div>
  {{> footer}}
  </body>
</html>